RewriteEngine On
RewriteRule ^api$ version/108/api/nl2go_endpoint.php [L]
RewriteRule ^config$ version/108/frontend/nl2go_config.php [L]

<Files nl2go_endpoint.php>
    Order Allow,Deny
    Allow from all
    <IfModule mod_authz_core.c>
        Require all granted
    </IfModule>
</Files>

<Files nl2go_config.php>
    Order Allow,Deny
    Allow from all
    <IfModule mod_authz_core.c>
        Require all granted
    </IfModule>
</Files>

