RewriteEngine On
RewriteRule ^api$ version/107/api/nl2go_endpoint.php [L]

<Files nl2go_endpoint.php>
    <IfModule mod_authz_core.c>
        Require all granted
    </IfModule>
    <IfModule !mod_authz_core.c>
        Order Allow,Deny
        Allow from all
    </IfModule>
</Files>